<!-- header -->
<nav class="navbar navbar-expand-md navbar-dark bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/multi-select']">
      <img src="https://codeomelet.com/Styles/imgs/logo/logo-sm.png" alt="CodeOmelet">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/kitchen']"><b>Kitchen</b></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/single-select']" [routerLinkActive]="'active'">Single Select</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/multi-select']" [routerLinkActive]="'active'">Multi-Select</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- main-content -->
<div class="container my-5">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer class="my-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="border-top pt-4 text-center">
          <img class="img-fluid" src="https://codeomelet.com/Styles/imgs/logo/logo-invert-sm.png" alt="CodeOmelet">
        </div>
      </div>
    </div>
  </div>
</footer>